USE [db2021]
GO
/****** Object:  StoredProcedure [dbo].[DISPLAY_AGENT]    Script Date: 19-11-2021 09:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DISPLAY_AGENT]
AS
BEGIN
SELECT * FROM AGENTS 
WHERE WORKING_AREA = 'Hampshair';
END